<a href="https://colab.research.google.com/github/VictorFBI/iad/blob/main/Frolov_Bukanov_Victor_hw02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
info = pd.read_csv('Students_info_0.csv')

for i in range(1, 10):
  info_tmp = pd.read_csv('Students_info_' + str(i) + '.csv')
  info = pd.concat([info, info_tmp], axis=0)

marks = pd.read_csv('Students_marks_0.csv')

for i in range(1, 10):
  marks_tmp = pd.read_csv('Students_marks_' + str(i) + '.csv')
  marks = pd.concat([marks, marks_tmp], axis=0)

df = pd.merge(info, marks, on='index', how='left')
df.sample(n=10) # random 10 observations

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
895,895,female,group E,some high school,free/reduced,none,group9,32,34,38
900,900,male,group D,master's degree,standard,none,group10,85,84,89
873,873,male,group E,associate's degree,free/reduced,none,group9,90,90,82
607,607,female,group C,master's degree,free/reduced,none,group7,40,58,54
45,45,male,group B,associate's degree,standard,none,group1,65,54,57
370,370,male,group E,some college,standard,none,group4,84,77,71
746,746,male,group D,high school,standard,none,group8,69,75,71
70,70,female,group D,some college,free/reduced,completed,group1,58,63,73
970,970,female,group D,bachelor's degree,standard,none,group10,89,100,100
192,192,female,group B,some high school,standard,none,group2,62,64,66

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df = df.drop('index', axis=1)
df.sample(n=10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
176,female,group B,high school,free/reduced,completed,group2,46,54,58
79,female,group E,master's degree,standard,none,group1,62,68,68
129,female,group A,bachelor's degree,standard,none,group2,51,49,51
490,female,group A,associate's degree,free/reduced,none,group5,65,85,76
690,female,group C,associate's degree,standard,none,group7,49,53,53
377,female,group D,master's degree,free/reduced,completed,group4,85,95,100
826,female,group C,associate's degree,free/reduced,completed,group9,56,68,70
45,male,group B,associate's degree,standard,none,group1,65,54,57
455,male,group C,bachelor's degree,free/reduced,none,group5,37,56,47
386,female,group E,bachelor's degree,standard,none,group4,64,73,70

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
group                          object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
for name in ['math score', 'reading score', 'writing score']:
  print("Column='{}': max={}, min={}, mean={}, std={}".format(name, df[name].max(), df[name].min(), df[name].mean(), df[name].std()))

Column='math score': max=100, min=0, mean=66.089, std=15.16308009600945
Column='reading score': max=100, min=17, mean=69.169, std=14.600191937252216
Column='writing score': max=100, min=10, mean=68.054, std=15.19565701086965

Числовыми столбцами являются последние два

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
count_nans = df.isna().sum().sum()

if (count_nans == 0):
  print('В таблице нет пропущенных значений')
else:
  print('В таблице есть пропущенные значения')

В таблице нет пропущенных значений

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
print('Math: {}'.format(df['math score'].mean()))
print('Reading: {}'.format(df['reading score'].mean()))
print('Writing: {}'.format(df['writing score'].mean()))

Math: 66.089
Reading: 69.169
Writing: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
none = df[df['test preparation course'] == 'none']
completed = df[df['test preparation course'] == 'completed']

def print_statistics(df: pd.DataFrame) -> None:
  print('Math: {}'.format(df['math score'].mean()))
  print('Reading: {}'.format(df['reading score'].mean()))
  print('Writing: {}'.format(df['writing score'].mean()))

print('Statistics according to students who don\'t completed preparations courses: ')
print_statistics(none)
print()
print('Statistics according to students who completed preparations courses: ')
print_statistics(completed)

Statistics according to students who don't completed preparations courses:
Math: 64.0778816199377
Reading: 66.53426791277259
Writing: 64.50467289719626

Statistics according to students who completed preparations courses:
Math: 69.69553072625699
Reading: 73.89385474860335
Writing: 74.41899441340782

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
for value in df.lunch.unique():
  print(value)

standard
free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace=True)
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
ans1 = (df['math score'] >= passmark).sum() / df.shape[0]
ans2 = (completed['math score'] >= passmark).sum() / completed.shape[0]

women_none = df[(df['gender'] == 'female') & (df['test preparation'] == 'none')]

ans3 = (women_none['math score'] < passmark).sum() / women_none.shape[0]

print('Доля студентов, сдавшая экзамен по математике = {}'.format(ans1))
print('Доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике = {}'.format(ans2))
print('Доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике = {}'.format(ans3))

Доля студентов, сдавшая экзамен по математике = 0.865
Доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике = 0.9217877094972067
Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике = 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
%%time
print(df.groupby('race/ethnicity')['reading score'].mean())
print()
print(df.groupby('education')['writing score'].min())
print()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

CPU times: user 6.33 ms, sys: 3 µs, total: 6.34 ms
Wall time: 6.95 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
%%time

for group in df['race/ethnicity'].unique():
  print('Group: {}, mean = {}'.format(group, df[df['race/ethnicity'] == group]['reading score'].mean()))

print()

for group in df['education'].unique():
  print('Group: {}, mean = {}'.format(group, df[df['education'] == group]['writing score'].mean()))

print()

Group: group B, mean = 67.35263157894737
Group: group C, mean = 69.10344827586206
Group: group A, mean = 64.67415730337079
Group: group D, mean = 70.03053435114504
Group: group E, mean = 73.02857142857142

Group: bachelor's degree, mean = 73.38135593220339
Group: some college, mean = 68.84070796460178
Group: master's degree, mean = 75.67796610169492
Group: associate's degree, mean = 69.8963963963964
Group: high school, mean = 62.44897959183673
Group: some high school, mean = 64.88826815642459

CPU times: user 14.8 ms, sys: 1.02 ms, total: 15.9 ms
Wall time: 15.7 ms

Вывод: groupby работает быстрее циклов примерно в 2 раза

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
gr = df.groupby(by=['gender', 'education'])

for subject in ['math score', 'reading score', 'writing score']:
  print(gr[subject].mean())
  print()

gender  education
female  associate's degree    65.250000
        bachelor's degree     68.349206
        high school           59.351064
        master's degree       66.500000
        some college          65.406780
        some high school      59.296703
male    associate's degree    70.764151
        bachelor's degree     70.581818
        high school           64.705882
        master's degree       74.826087
        some college          69.009259
        some high school      67.840909
Name: math score, dtype: float64

gender  education
female  associate's degree    74.120690
        bachelor's degree     77.285714
        high school           68.202128
        master's degree       76.805556
        some college          73.550847
        some high school      69.109890
male    associate's degree    67.433962
        bachelor's degree     68.090909
        high school           61.480392
        master's degree       73.130435
        some college          64.990741
        some high school      64.693182
Name: reading score, dtype: float64

gender  education
female  associate's degree    74.000000
        bachelor's degree     78.380952
        high school           66.691489
        master's degree       77.638889
        some college          74.050847
        some high school      68.285714
male    associate's degree    65.405660
        bachelor's degree     67.654545
        high school           58.539216
        master's degree       72.608696
        some college          63.148148
        some high school      61.375000
Name: writing score, dtype: float64

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'T')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'T')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'T')

def calc_statistics(filter: object):
  for name, group in df.groupby(by=filter):
    if name == 'F':
      print("Amount of students who don't pass the exam", end=': ')
    else:
      print("Amount of students who pass the exam", end=' ')
    print(group.shape[0])


calc_statistics('Math_PassStatus')
print()

calc_statistics('Reading_PassStatus')
print()

calc_statistics('Writing_PassStatus')

Amount of students who don't pass the exam: 135
Amount of students who pass the exam 865

Amount of students who don't pass the exam: 90
Amount of students who pass the exam 910

Amount of students who don't pass the exam: 114
Amount of students who pass the exam 886

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
def condition(row):
    if row['Math_PassStatus'] == 'T' and row['Reading_PassStatus'] == 'T' and row['Writing_PassStatus'] == 'T':
        return 'T'
    else:
        return 'F'

df['OverAll_PassStatus'] = df.apply(condition, axis=1)

for name, group in df.groupby(by='OverAll_PassStatus'):
  if name == 'F':
    print("Amount of students who don't pass all exams", end=': ')
  else:
    print("Amount of students who pass all exams", end=' ')
  print(group.shape[0])
  print()

Amount of students who don't pass all exams: 188

Amount of students who pass all exams 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    [90, 100] = A
####      [80, 90) = B
####      [70, 80) = C
####      [60, 70) = D
####      [50-60) = E
####    [0, 50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(mark: int):
    if (90 <= mark and mark <= 100):
      return 'A'
    if (80 <= mark and mark < 90):
      return 'B'
    if (70 <= mark and mark < 80):
      return 'C'
    if (60 <= mark and mark < 70):
      return 'D'
    if (50 <= mark and mark < 60):
      return 'E'
    return 'F'

def helper(row):
  return GetGrade((row['math score'] + row['reading score'] + row['writing score']) / 3)

df['Grade'] = df.apply(helper, axis=1)
df.sample(n=15)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
916,male,group E,bachelor's degree,standard,completed,group10,100,100,100,T,T,T,T,A
730,female,group B,associate's degree,free/reduced,completed,group8,68,77,80,T,T,T,T,C
169,female,group C,some college,free/reduced,completed,group2,67,75,70,T,T,T,T,C
904,female,group D,some high school,free/reduced,none,group10,67,84,84,T,T,T,T,C
125,female,group B,high school,standard,none,group2,87,95,86,T,T,T,T,B
735,male,group C,master's degree,standard,none,group8,67,57,59,T,T,T,T,D
207,male,group E,high school,standard,completed,group3,81,80,76,T,T,T,T,C
444,male,group A,some high school,free/reduced,none,group5,79,82,73,T,T,T,T,C
803,female,group B,some college,standard,none,group9,82,85,87,T,T,T,T,B
266,female,group C,bachelor's degree,standard,none,group3,63,75,81,T,T,T,T,C
760,female,group C,high school,free/reduced,none,group8,53,72,64,T,T,T,T,D
414,female,group C,bachelor's degree,free/reduced,completed,group5,51,72,79,T,T,T,T,D
553,male,group D,some college,free/reduced,none,group6,77,62,64,T,T,T,T,D
182,female,group E,high school,standard,none,group2,50,50,47,T,T,F,F,F
335,female,group B,some college,free/reduced,none,group4,61,68,66,T,T,T,T,D